<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ipal.itu.harzindagi">

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Application.HarZindagiApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <meta-data
            android:name="HarZindagiDatabase"
            android:value="HarZindagiDatabase.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="ChildInfo"
            android:value="com.ipal.itu.harzindagi.Entity.ChildInfo" />
        <meta-data
            android:name="UserInfo"
            android:value="com.ipal.itu.harzindagi.Entity.UserInfo" />

        <meta-data
            android:name="Visit"
            android:value="com.ipal.itu.harzindagi.Entity.Visit" />
        <meta-data
            android:name="Vaccinations"
            android:value="com.ipal.itu.harzindagi.Entity.Vaccinations" />
        <meta-data
            android:name="Injections"
            android:value="com.ipal.itu.harzindagi.Entity.Injections" />
        <meta-data
            android:name="KidVaccinations"
            android:value="com.ipal.itu.harzindagi.Entity.KidVaccinations" />


        <activity
            android:name=".Activities.SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ForgetActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activities.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipal.itu.harzindagi.Activities.DashboardActivity" />
        </activity>
        <activity
            android:name=".Activities.ChildrenListActivity"
            android:label="@string/title_activity_children_list"
            android:parentActivityName=".Activities.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipal.itu.harzindagi.Activities.SearchActivity" />
        </activity>
        <activity
            android:name=".Activities.RegisterChildActivity"
            android:label="@string/title_activity_register_child"
            android:parentActivityName=".Activities.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipal.itu.harzindagi.Activities.DashboardActivity" />
        </activity>
        <activity
            android:name=".Activities.VaccinationActivity"
            android:label="Vaccination"
            android:parentActivityName=".Activities.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipal.itu.harzindagi.Activities.DashboardActivity" />
        </activity>
        <activity android:name=".Activities.EvacsEPI" />
        <activity android:name=".Activities.Act" />
        <activity android:name=".Activities.Card_Scan" />
        <activity
            android:name=".Activities.CalenderActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />

        <activity
            android:name=".Activities.RegisteredChildActivity"
            android:label="Registered Child"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ViewPagerWithTabs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.CustomCamera" />
        <activity android:name=".Activities.CustomCameraKidstation" />
        <activity android:name=".Activities.CardScanWrite" />
        <activity android:name=".Activities.CardScanWriteVaccine" />
    </application>

</manifest>
